In [4]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score

In [5]:
data=pd.read_csv("creditcard.csv")

In [6]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [8]:
data.shape

(284807, 31)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [11]:
#legit and fraud transaction
data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [12]:
#0 represents normal transaction and 1 represents fraudulent transaction.
#The distribution of both data point is unbalance as more than 99% of data belongs to one type .Hence processing is done

In [13]:
#seperating data for analysis
normal= data[data.Class==0]
fraud= data[data.Class==1]

In [14]:
print("Shape of real transaction:",normal.shape)
print("Shape of Fraud Transaction:",fraud.shape)

Shape of real transaction: (284315, 31)
Shape of Fraud Transaction: (492, 31)

In [15]:
#Statistical analysis
normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [17]:
#compare the values for both transactions
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [18]:
#Under-sampling-Build a sample dataset containing similar distribution 
#Number of fraud transaction--> 492

In [19]:
normal_sample=normal.sample(n=492)

In [20]:
#concatenate the datas

In [21]:
newdata=pd.concat([normal_sample,fraud],axis=0)

In [22]:
newdata.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
168145,119086.0,2.272855,-1.663820,-0.795723,-1.643911,-1.578274,-0.395752,-1.555709,0.121988,-0.816614,...,-0.159067,-0.089733,0.227092,-0.592637,-0.347802,-0.156002,0.003869,-0.066269,12.00,0
90541,63063.0,-0.790742,1.030779,1.539322,0.042168,0.692007,0.857088,0.835807,0.085495,-0.581773,...,-0.179010,-0.522367,-0.262672,-1.338670,0.363468,-0.488277,-0.012950,0.052415,59.99,0
91837,63647.0,-0.792060,1.855048,-0.366472,1.033490,-0.342345,-1.091984,0.242874,0.676740,-0.782595,...,0.255718,0.816613,0.219157,0.629653,-0.740948,-0.410870,0.315324,0.168683,1.49,0
244790,152489.0,2.236125,-1.534526,-1.065009,-1.657471,-1.214984,-0.330498,-1.266938,0.054998,-1.230935,...,-0.130539,-0.026690,0.276593,0.636282,-0.264461,-0.205882,-0.010676,-0.056983,25.00,0
138466,82661.0,1.104290,-0.453435,0.474525,0.656817,-0.894194,-0.544285,-0.212011,-0.091706,-1.080823,...,-0.440337,-0.981761,0.127681,0.324521,0.192750,-0.533422,0.040907,0.045519,93.13,0

In [23]:
newdata['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [24]:
newdata.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95024.540650,-0.038827,-0.052910,-0.014557,-0.035042,-0.051097,0.096227,-0.004951,0.026790,0.034407,...,0.003310,-0.012982,-0.005658,-0.017681,0.024604,0.013265,-0.044016,0.015221,0.000856,105.523333
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [25]:
x=newdata.drop(columns='Class',axis=1)
y=newdata['Class']

In [26]:
# Splitting data into train and test dataset
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,stratify=y,random_state=2)

In [27]:
print(x.shape,x_train.shape,x_test.shape)

(984, 30) (738, 30) (246, 30)

In [28]:
#Model training
model=LogisticRegression(max_iter=1000)

In [29]:
model.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [30]:
#Evaluation
#Acuracy score
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)
print('Accuracy on training data:',training_data_accuracy)

Accuracy on training data: 0.948509485094851

In [31]:
#Accuracy on test data
x_test_prediction=model.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction,y_test)
print('Accuracy on test data:',test_data_accuracy)

Accuracy on test data: 0.9349593495934959

In [32]:
# Accuracy on both training and testing data are similar there is no case of underfitting and overfitting.

In [33]:
x_train_prediction=model.predict(x_train)
training_data_f1=f1_score(x_train_prediction,y_train)
print('F1 score on training data:',training_data_accuracy)
#F1 score on test data
x_test_prediction=model.predict(x_test)
test_data_F1=f1_score(x_test_prediction,y_test)
print('F1 Score on test data:',test_data_accuracy)

F1 score on training data: 0.948509485094851
F1 Score on test data: 0.9349593495934959

In [34]:
precision_train=precision_score(x_train_prediction,y_train)
print('Precision Score on train data:',precision_train)

precision_test=precision_score(x_test_prediction,y_test)
print('Precision Score on test data:',precision_test)

Precision Score on train data: 0.926829268292683
Precision Score on test data: 0.8943089430894309

In [35]:
recall_train=recall_score(x_train_prediction,y_train)
recall_test=recall_score(x_test_prediction,y_test)
print('Recall Score on train data:',recall_train)
print('Recall Score on test data:',recall_test)

Recall Score on train data: 0.9688385269121813
Recall Score on test data: 0.9734513274336283